*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    width: 100%;
}
.nav{
    display: flex;
    width: 100%;
    /* background-color:black; */
    justify-content: space-between;
  
    height: 50px;
    /* border-bottom: 2px solid grey; */
    color: white;
    align-items: center;
    /* border: 2px solid grey; */
}
header{
    width: 100%;
}
.vh{
    padding-left: 30px ;
    /* background-color: aqua; */
    height: 100%;
    width:20% ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.hh {
   display: flex;
   justify-content: center;
    align-items: center; 
   gap: 50px;
   height: 100%;
   width: 60%;
   border: 1px solid white;
  

}
.vv{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 20%; 
    height: 100%;
    border: 1px solid white;
    
    
}
.vv h3{
    background-color:aqua;
    height: 40px;
    width: 130px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;


}
.circle{
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 50%;
}
.circle1{
     height: 400px;
     width: 400px;
     background-color:rgb(5,214,255);
     border-radius: 50%;
     transform: translateX(300px);
}
.circle2{
    height: 200px;
     width: 200px;
     background-color:rgb(23,216,245);
     border-radius: 50%;
     transform: translateX(500px);
}
main{
    height:1500px ;
    width:100%;
    backdrop-filter: blur(150px);
    position: absolute;
    top: 0;
    left: 0;
}
.box1{
    height: 600px;
    width: 50%;
    background-color: rgb(233,234,234,0.334);
    border: 1px solid white;
    transform: translateY(100px);
    display: flex;
    gap: 10px;
}
.boxparent{
    display: flex;
    gap: 10px;
}
.card{
    height:300px;
    width:230px ;
    background-color: white;
    padding: 10px;
    position: absolute;
}
.image{
    height: 80%;
    width: 100%;
    background-color: blue;
}
.C1{
    transform: rotate(25deg); transform:translateY(100px);
    z-index: 1;
}
.C2{
    transform: rotate(-20deg);
    z-index: 2;
}
.C3{
    transform: translateY(350px); transform: translateX(-200px);
}