*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: aqua;
    height:50%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.box1{
    background-color: blue;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box2{
    background-color: brown;
    height: 50%;
    width: 50%; 
    transition: 2s linear;
    transform:scale(0);
}
.box1:hover .box2{
   
    cursor: pointer;
    transform:scale(1);

}