*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
.navbar{
    height: 15vh;
    width: 100%;
}
.uppernav{
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color:grey;
    /* margin-left: 20px; */
    background-color: rgb(246, 241, 241);
}
.lowernav{
    height: 15vh;
    /* background-color: brown; */
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 50px;
    box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
}
.lowernav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    height: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.lowernav ul li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */

}
.product:hover~.menu {
    display: block;
}
.Solution:hover~.menu_2 {
    display: block;
}
.pricing:hover~.menu_3{
    display: block;
}
.community:hover~.menu_4{
    display: block;
}
.W_C_U:hover~.menu_5 {
    display: block;
}
.menu_5{
    border-top: 4px solid blue;
    height: 630px;
    width: 100%;
    background-color: white;
    display: none;
    position: absolute;
    top: 130px;
    right: 0; 
}
.menu_4{
    border-top: 4px solid blue;
    height: 380px;
    width: 100%;
    background-color: white;
    display: none;
    position: absolute;
    top: 130px;
    right: 0;
}
.menu_3{
    border-top: 4px solid blue;
    height: 300px;
    width: 100%;
    background-color: white;
    display: none;
    position: absolute;
    top: 130px;
    right: 0;
}
.menu_2{
    border-top: 4px solid blue;
    height: 260px;
    width: 100%;
    background-color: white;
    display: none;
    position: absolute;
    top: 130px;
    right: 0;
}

.menu {
    border-top: 4px solid blue;
    height: 500px;
    width: 100%;
    background-color: white;
    display: none;
    position: absolute;
    top: 130px;
    right: 0;
}   
.menu:hover {
    display: block;
}
.menu_2:hover{
    display: block;
}
.menu_3:hover{
    display: block;
}
.menu_4:hover{
    display: block;
}
.menu_5:hover{
    display: block;
}

.Fea {
    height: 480px;
    width: 30%;
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 6px;
}

.Feacher {
    height: 90px;
    width: 270px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(166, 159, 159);
    border-right: 2px solid rgb(164, 162, 162);

}

.hide_f {
    width: 70%;
    height: 480px;
    background-color: white;
    position: absolute;
    left: 350px;
    top: -1px;
    display: none;
}

.Feacher_1:hover .hide_f {
    display: block;

}

.hide_f:hover {
    display: block;
}
.hide_store {
    width: 70%;
    height: 460px;
    position: absolute;
    /* background-color: rgb(160, 174, 146); */
    left: 350px;
    top: -8px;
    display: block;
    overflow: scroll;
}
::-webkit-scrollbar{
    display: none;
}

.Store{
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
}
.Store img{
    height: 40px;
}
 .Store h1{
    font-size: 18px;
}
.Store p{
    width: 80%;
    font-size: 15px;
}
.Comput{
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.Comput img{
    height: 40px;
}
.Comput h1{
    font-size: 18px;
}
.Comput p{
    width: 80%;
    font-size: 15px;
} 
.network{
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
}
.network img{
    height: 40px;
}
.network h1{
    font-size: 18px;
}
.network p{
    width: 90%;
    font-size: 15px;
}
.Database{
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
}
.Database img{
    height: 40px;
}
.Database h1{
    font-size: 18px;
}
.Database p{
    width: 90%;
    font-size: 15px;
}
.hide_div{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    flex-wrap: wrap;
}
.hidediv{
    height: 90px;
    width: 270px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    border-bottom: 2px solid rgb(166, 159, 159);
    border-right: 2px solid rgb(164, 162, 162);
}
.hide_div_1{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 45px;
    margin-bottom: 40px;
}
.hide_div_2{
    height: 25%;
}
.hidediv img{
    height: 40px;
}
.hidediv h1{
    width: 100%;
    font-size: 18px;
}
.hidediv p{
    width: 90%;
    font-size: 15px;
}
.hide_store h2{
    font-weight: 400;
    font-size: 18px;
    padding-left: 30px;
}
.menu_2_child{
    display: flex;
    height: 100%;
    width: 100%;
}
.menu_2 .submenu{
    height: 100%;
    width: 52%;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.submenu div{
    height: 40px;
    width: 150px;
    background-color: rgb(21, 161, 222);
    color: white;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submenu h1{
    font-weight: 500;
    font-size: 33px;
}
.submenu p{
    font-size: 17px;
    color: gray;
    padding-bottom: 20px;

}
.menu_2 .submenu_type{
    height: 100%;
    width: 48%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.div_content{
    height: 40%;
    width: 45%;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    border-bottom: 2px solid rgb(166, 159, 159);
    border-right: 2px solid rgb(164, 162, 162);
}
.div_content img{
    height: 40px;
}
.div_content h3{
    width: 100%;
    font-size: 18px;
}
.div_content p{
    width: 90%;
    font-size: 15px;
}
.menu_child_3{
    display: flex;
    height: 100%;
    width: 100%;
}
.menu_child_3 .submenu_2{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

}
.submenu_2 h1{
    font-weight: 500;
    font-size: 30px;
}
.submenu_2 div{
    height: 40px;
    width: 150px;
    background-color: rgb(21, 161, 222);
    color: white;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submenu_2 p{
    font-size: 17px;
    color: gray;
    padding-bottom: 20px;
}
.submenuty_2{
    height: 100%;
    width: 30%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.sub_2{
    height: 90px;
    width: 270px;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    border-bottom: 2px solid rgb(166, 159, 159);
    border-right: 2px solid rgb(164, 162, 162);
}
.sub_2 img{
    height: 40px;
}
.sub_2 h1{
    width: 100%;
    font-size: 18px;
}
.sub_2 p{
    width: 90%;
    font-size: 14px; 
}
.menu_4_child{
    height: 100%;
    width: 100%;
    display: flex;
}
.submenu_4{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.submenuty_4{
    height: 100%;
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.sub_4{
    height: 90px;
    width: 270px;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    margin: 10px;
    border-bottom: 2px solid rgb(166, 159, 159);
    border-right: 2px solid rgb(164, 162, 162);
}
.sub_4 img{
    height: 40px;
}
.sub_4 h1{
    width: 100%;
    font-size: 18px;
}
.sub_4 p{
    width: 90%;
    font-size: 14px; 
}
.menu_5_sub{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submenu_5{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div_hide{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}
.hidediv_1{
    height: 90px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    border-bottom: 2px solid rgb(166, 159, 159);
    border-right: 2px solid rgb(164, 162, 162);
}
.hidediv_1 img{
    height: 40px;
}
.hidediv_1 h1{
    width: 100%;
    font-size: 18px;
}
.hidediv_1 p{
    width: 90%;
    font-size: 14px; 
}
.signbutton{
    background-color: rgb(35, 35, 91);
    height: 40px;
    width: 80px;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uppernav i{
    font-size: 20px;
    color: rgb(85, 69, 224);
}
.hiringbutton{
    height: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 12px;
    background-color: rgb(238, 239, 239);
}
.uppernav div{
    display: flex;
    /* background-color: aqua; */
}
.uppernav div ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.inrbutton{
    height: 20px;
    width:70px ;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 220);
    font-size: 12px;
    color: rgb(57, 57, 123);
   gap: 10px;

}
.inrbutton span{
    width: 10px;
    /* background-color: aqua; */
}
.inrbutton i{
    color:rgb(57, 57, 123);
    /* background-color: aqua; */
}

.boxparent{
    height:80vh;
    width: 100%;
    margin-top: 50px;
    display: flex;
    background: linear-gradient(310deg, rgba(177,192,237,0.978203781512605) 0%, rgba(242,243,246,1) 40%, rgba(238,240,245,1) 48%);
}
.box1{
    height:80vh;
    width: 100%;
    /* background-color:rgb(248, 237, 224); */
    margin-left:50px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.box1 h1{
    margin-top:60px;
    color: rgb(28, 28, 105);
}
.box2 img{
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box1 p{
    color: rgb(160, 160, 160);
}
.true{
    color: rgb(152, 150, 150);
}
.box2{
    height:80vh;
    width: 100%;
    margin-top:130px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right:40px;
}
.getbutton{
    background-color: rgb(35, 35, 91);
    height: 40px;
    width: 210px;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disc{
    display: flex;
    gap: 20px;
}
.disc input{
    width: 370px;
    height:40px;
    border:2px solid black;
    border-radius: 3px;
    padding-left: 10px;
}
.cards{
    height:400px;
    width: 100%;
    /* background-color: rgb(233, 240, 240); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;


}
.card1{
    height:250px;
    width: 280px;
    background-color:white;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    color: gray;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card1 img{
    height: 60px;
}
.card1 h2{
    font-size: 22px;
  color: rgb(40, 37, 37);
} 
.card1 p{
    width: 90%;
    font-size: 15px;
    color: rgb(68, 60, 60);
    text-align: center;
}
.rank{
    height: 250px;
     width: 100%;
     /* background-color: aquamarine; */
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     
}
.rank1{
    height: 250px;
    width: 100%;
    /* background-color: rgb(40, 40, 77); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.rank h1{
    font-size: 40px;
}
.rank p{
    font-size: 25px;
    color: rgb(60, 55, 55);
    text-align: center;
}
.rank1 img{
    height: 160px;

}
.rad{
    height: 350px;
    width: 100%;
    background-color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.rad h1{
    font-size: 45px;
    color: rgb(53, 52, 52);
}
.rad p{
    font-size: 22px;
    color: rgb(97, 94, 94);
    text-align: center;
}
.Ranked{
    height: 250px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.Ranked1{
    height:170px;
    width: 280px;
    background-color: rgb(0, 0, 0);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius:10px;
    color: white; 
    text-align: center;
}
.Ranked1 img{
    height:40px;
    margin-top: 30px;

}
.Ranked1 h3{
    font-size: 23px;
}
.Ranked1 p{
    font-size: 18px;
}
.seebutton{
    background-color:black;
    height:35px;
    width: 125px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.see{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sim{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 80px;
}

.sim1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sim1 h3{
    color: rgb(154, 152, 152);
    font-weight: 400;
}
.sim1 h1{
    font-weight: 500;
}
.sim2 h3{
    color: rgb(152, 151, 151);
    font-weight: 400;
}
.sim2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 400px;
}
.hor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigimg img{
    border-radius:0px 0px 5px 5px;
}
.experience{
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:100px;
    background-color: rgb(223, 235, 240);
}
.experience .Experi{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.experience .Experi h1{
    font-size: 36px;
    width: 60%;
    text-align: center;
    height: 300px;
}
.experience .Experi p{
    width: 65%;
    text-align: center;
    font-size: 19px;
    color: rgb(127, 125, 125);
    margin-bottom: 40px;

}
table{
    /* background-color: salmon; */
    /* border: 1px solid black; */
    border-collapse: collapse;
    width: 70vw;
}


.poll-progress{

    height: 30px;
    background-color: grey;

    border-radius: 5px;
}

.pollbar{
    display: flex;
    align-items: center;
    gap: 10px;
}

tr{
    height: 80px;
}
td img{
    height: 50px;
}
.discription{
    color: rgb(111, 110, 110);
}

.mainLogo{
    height: 90px;
}
.poll-votes{
    color: rgb(102, 102, 102);
}
.com{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    padding-top: 170px;
    margin-top: -90px;
}
.super{
    height: 900px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.super h1{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   font-weight: 500;
   font-size: 40px;
}
.super p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(141, 139, 139);
 }
 .super2{
    display: flex;
    margin-top: 30px;
    gap: 30px;
    margin-left: 30px;
 }
 .scalable{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 90px;
 }
 .scalable h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 500;
 }
 .scalable p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: grey;
 }
 .map{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:80px ;
 

}
.mapps{
    height: 700px;
    width: 1300px;
    background-color: rgb(36, 36, 40);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 60px 60px 60px 60px;
    margin-top: 40px;

}
.mapdes{
    height:180px;
    width:700px;
    /* background-color: blueviolet; */
    margin-top: 37px;
}
.mapimg{
    height:500px;
    width:950px;
    /* background-color: rgb(140, 102, 175); */
}
.mapdes h1{
    font-size: 43px;
    text-align: center;
    color: white;
    font-weight: 500;
}
.world{
    height: 20st0px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.world p{
    font-size: 23px;
    text-align: center;
    color: rgb(112, 111, 111);
}
.world h1{
    font-size: 47px;
    color: rgb(40, 38, 38);
}
.world h3{
    color: rgb(112, 111, 111);
}
.apps{
    height:150px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.apps img{
    height: 100px;
}
.reliable{
    height: 350px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reliable h1{
    font-size: 40px;
    color: rgb(40, 38, 38);
}
.reliable p{
    font-size: 24px;
    text-align: center;
    color: rgb(112, 111, 111);
}
.Trusted{
    height: 400px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
}
.tru1{
    height: 400px;
    width: 600px;
    /* background-color: rgb(125, 101, 148); */
}
.truimg{
    height: 400px;
    width: 600px;
    /* background-color: rgb(18, 12, 24); */
}
.tru1 h1{
     font-size:40px ;
    
}
.tru1 p{
    font-size:25px ;
    color: rgb(112, 111, 111);
  
}
.F1{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: black;
    color: white;
  
}
.truimg img{
    height: 80px;
}
.scrollbar{
    height: 400px;
    width:40%;
    /* background-color: rgb(21, 160, 181); */
   
    overflow: hidden;

margin-bottom:80px;
margin-left: 50px;
}

.innerBar{
    height: fit-content;
    width:80%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 60px;
    animation-name: movebox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear ;
}


.item img{
    height:30px;
    width:70px;
}
@keyframes movebox{
    0%{
        transform:translateY(0);
    }
    /* 50%{
        transform: translateY(-300px);
    } */
    100%{
        transform:translateY(-670px);
    }
}
.pic{
    height:550px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.picimg{
    height:150px;
    width: 150px;
    background-color: rgb(222, 231, 229);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    



}
.scrollbar2{
    height: 400px;
    width:40%;
    /* background-color: rgb(21, 160, 181); */
   
    overflow: hidden;
    margin-top: 40px;

/* margin-bottom:80px; */
/* margin-left: 50px; */
}
.innerBar2{
    height: fit-content;
    width:100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap:90px;
    /* margin-left: 60px; */
    animation-name: movebox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear ;
}
.picimg img{
    height: 120px;
}
.picdes{
    height:110px;
    width:900px;
    /* background-color: blueviolet; */
}
.picdes p{
    font-size: 23px;
    text-align: center;
    color: rgb(57, 57, 57);
}
.picdes h4{
    font-size: 30px;
}
.picdes1{
    height:140px;
    width: 200px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.picdes1 h4{
    font-size: 23px;
    text-align: center;
}
.picdes1 p{
    color: rgb(142, 138, 138);
    text-align: center;
}
.picdes1 img{
    height: 50px;
}
.frames{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    font-weight:900;
}
.backgr{
    width:100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.gradient{
     width: 100%;
    height:400px;
    background-color: antiquewhite;
    display: flex;
    gap:20px;
    overflow: hidden;
    flex-wrap: wrap;
    margin-left:30px;
    animation-name: movebox1;
    animation-duration:1s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: linear ;
    /* justify-content: space-between; */
    background: rgb(186,186,186);
    background: linear-gradient(180deg, rgba(186,186,186,0) 55%, rgba(198, 197, 197, 0.378) 100%);
}

@keyframes movebox1{
    0%{
        transform:translateX(0);
    }
     /* 50%{
        transform: translateY(-300px);
    }  */
    100%{
        transform:translateX(-970px);
    } 
}

.blog1{
    height: 100%;
    width: 390px;
    background-color: rgb(252, 250, 254);
    border-radius: 10px;
   
}

.blog2{
    height: 100%;
    width: 390px;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;

}
.blog3{
    height: 100%;
    width: 390px;
    background-color: rgb(251, 251, 251);
    border-radius: 10px;
}
.gradient img{
    height:200px ;
    width:390px ;
    border-radius: 5px 5px 0px 0px;
}
.margin{
    padding-left: 20px;
}
.blog1 h3{
    font-weight: 400;
    font-size:14px;
    color: #7c7b7b;
}
.blog2 h3{
    font-weight: 400;
    font-size:14px;
    color: #7c7b7b;
}
.blog3 h3{
    font-weight: 400;
    font-size:14px;
    color: #7c7b7b;
}
.blog1 h2{
    font-size: 18px;
}
.blog1 h4{color: #3a7fcd;
}
.blog2 h2{
    font-size: 18px;
}
.blog2 h4{color: #3a7fcd;

}

.blog3 h2{
    font-size: 18px;
}
.blog3 h4{color: #3a7fcd;
}
.feature{display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.que{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.quediv{
    width: 100%;
    height: 500px;
    /* background-color: #cc2d8a; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.ques{
    width: 60%;
    height:100%;
    /* background: #1178a8; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.add{
  
    display: flex;
   
}
.hr{
    height: 20px;
    width: 680px;
    border-bottom:0.5px solid rgb(192, 191, 191);
}
.ques h3{
    font-size: medium;
    padding-right:310px ;
    font-weight: 400;
    color: #1e1d1d;
}
.ques h2{
  font-size: medium;
    font-weight: 300;
    color: #1e1d1d;
}
.FooterDiv{
    height: 850px;
    width: 100%;
    background-color: #082a51;
    gap: 10px;
    display: flex;
    padding-top: 50px;
    
    }
    .f1{
        height: 100%;
        width: 30%;
      /* background: rgb(151, 109, 109); */
        margin-left: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     margin-top: -50px;
    }
    .f2{
        margin-top: 40px;
        height: 100%;
        width: 20%;
      /* background: rgb(151, 109, 109); */
      display: flex;
      align-items: center;
      flex-direction: column;
      
    }
    .f2 h4{
        margin-right: 55px;
        color: white;
    }
    .ULogo{
        width:230px;
        height:200px;
        /* background: #7f4e4e; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        margin-bottom:40px;
    }
    .ULogo img{
        height:70px;
        width: 110px;
    }
    
    .content p{
        color: rgb(252, 251, 251);
        font-size: 14px;
        margin-top: 2px;
        padding-bottom:20px;
    }
    .pr p{
        font-weight: 400;
        color: rgb(177, 176, 176);
    }
    .res p{
        font-size: 13px;
        font-weight: 400;
        color: rgb(248, 245, 245);
    }
    .commity{
    display: flex;
    
    
    flex-direction: column;
    width: 70%;
    height: 400px;
    
    }
    .commity h5{
        font-weight: 400;
        color: #afaeae;
    }
    .commity i{
        color: #fbfcfd;
    }